@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



body {
    width: 100vw;
    height: 100vh;
    background: hsl(185, 75%, 39%);
    background-image: url(./assets/bg-pattern-top.svg), url(./assets/bg-pattern-bottom.svg);
    background-size: 120vmin 120vmin, 120vmin 120vmin;
    background-repeat: no-repeat no-repeat, no-repeat no-repeat;
    background-position: -60vmin -60vmin, calc(100vw - 60vmin) calc(100vh - 60vmin);
    margin: 0;
  }